@import '../../sass/utils.scss';

.Login {
    display: block;
    margin: 0 12px;
    text-align: center;
    &--logo {
        width: 246px;
        height: 199px;
        margin-top: 55px;
    }
    & h2{
        margin-top: 65px;
        font-family: $title-font;
        font-size: 36px;
        font-weight: normal;
        color: $purple-color-third;   
    }
    &--form p {
        margin: 40px 0 10px;
        font-size: 13px;
        font-family: $paragraph-font;
        font-weight: 900;
        color: $purple-color-third;
    }
    &--form h6 {
        margin: 20px;
        text-align: center;
        font-size: 13px;
        font-family: $paragraph-font;
        font-weight: 900;
        color: $purple-color-third;
    }
    & span {
        color: $brand-color;
        text-decoration: none;
    }
}
.Login--container {
    margin: 0 -12px;
    background: linear-gradient(180deg, #FFFFFF 0%, #F1EFED 47.4%, rgba(229, 226, 221, 0) 100%);
}

.Login--button {
    margin-top: 100px;
    color: $brand-color;
    border: 1px solid $brand-color;
    background-color: $white-color-first;
}
.Login--button:hover {
    color: $white-color-first;
    border: none;
    background-color: $brand-color;
}


@media only screen and (min-width: 768px){
    .Login--container {
        margin: 0 -12px;
        height: 100vh; 
        background-image: url("../../assets//images/clothes-desktop.png");
        background-color: #cccccc; 
        background-size: 100% 100%;
    }
    .Login h2 {
        margin-top: 45px;
    }
    .Login--input {
        margin-top: 0px;
    }
    .Login--form p {
        margin: 40px 0 5px;
    }
    .Login--button {
        margin-top: 40px;
    }
}