@import '../../sass/utils.scss';

.Input--container {
    width: 100%;
    border: 1px solid $purple-color-third;
    border-radius: 6px;
    color: rgba(119, 28, 127, 0.5);
}

input {
    width: 100%;
    height: 100%;
    color: rgba(119, 28, 127, 0.5);
}

input::placeholder {
    padding: 0 12px;
    font-size: 15px;
    font-family: $paragraph-font;
    color: rgba(119, 28, 127, 0.5);
}
input:focus {  
    padding-left: 5px;
    font-size: 15px;
    font-family: $paragraph-font;
    color: rgba(119, 28, 127, 0.5);
}