$title-font: 'Comfortaa', cursive;
$paragraph-font: 'Roboto', sans-serif;
$brand-font: sans-serif;

$brand-color: #FF4D00;
$brand-color-alt: #FE3C72;

$purple-color-first: #93117E;
$purple-color-second: #771C7F;
$purple-color-third: #622181;

$white-color-first: #ffffff;
$white-color-second: #ECECED;
$white-color-third: #d9dadb;

$black-color-first: #1A171B;
$black-color-second: #3d3c3f;
$black-color-third: #58585A;

@mixin flex($align, $justify, $direction: row) {
  display: flex;
  align-items: $align;
  justify-content: $justify;
  flex-direction: $direction;
}

@mixin title($size, $color) {
  font-size: $size;
  color: $color;
  font-family: $title-font;
}

@mixin paragraph($size, $color) {
  font-family: $paragraph-font;
  font-size: $size;
  color: $color;
}

@mixin btn-primary($width, $height) {
  background: linear-gradient(180deg, #F35480 0%, #FF4D00 100%);
  color: $white-color-first;
  width: $width;
  height: $height;
  font-family: $paragraph-font;
  font-size: .8em;
  &:hover {
    color: $brand-color;
    background: $white-color-first;
    border: 1px solid $brand-color;
  }
}

@mixin btn-secondary($width, $height) {
  background: $white-color-first;
  color: $brand-color;
  border: 1px solid $brand-color;
  box-sizing: border-box;
  border-radius: 10px;
  width: $width;
  height: $height;
  font-family: $paragraph-font;
  font-size: .8em;
  &:hover {
    color: $white-color-first;
    background:  linear-gradient(180deg, #F35480 0%, #FF4D00 100%);
  }
}
