@import '../../sass/utils.scss';

.Register {
    margin: 0 12px;
    text-align: center;
    &--container {
        form {
            width: 100%;
            .Input--container {
                margin: 1em 0;
            }
        }
    }
    &--icon {
        text-align: left;
    }
    & h2 {
        padding-top: 25px;
        font-family: $title-font;
        font-size: 36px;
        color: $purple-color-third;
    }
    &--img__container {
        padding: 1em 0;
        img {
            // border: 1px solid red;
        }
        p {
            margin-bottom: 1em;
            font-family: $paragraph-font;
            font-size: 13px;
            font-weight: 900;
            color: $purple-color-third;
        }
    }
}

.Register--dropdown {
    width: 343px;
    height: 52px;
    border: 1px solid $purple-color-third;
    border-radius: 6px;
    color: rgba(119, 28, 127, 0.5);
}

.Register--container {
    @include flex(center, center, column);
}

.Register--img__container {
    display: block;
    text-align: center;
}

.Register--input__field {
    margin: 16px 0;
}
.Register--button {
    margin-top: 40px;
    @include btn-primary(100%, 50px);
}
