@import '../../sass/utils.scss';

.Register {
    margin: 0 12px;
    padding: 1em;
    & h2 {
        padding-top: 25px;
        font-family: $title-font;
        font-size: 36px;
        color: $purple-color-third;
    }
    &--img__container p {
        padding-top: 32px;
        font-family: $paragraph-font;
        font-size: 13px;
        font-weight: 900;
        color: $purple-color-third;
    }
}

.Register--container {
    @include flex(center, center, column);
}

.Register--img__container {
    display: block;
    text-align: center;
}

.Register--input__field {
    margin: 16px 0;
}
.Register--button {
    width: 100%;
    height: 50px;
    margin-top: 40px;
    color: $white-color-first;
    background: linear-gradient(180deg, #F35480 0%, #FF4D00 100%);
    border: 1px solid $brand-color;
}