@import '../../sass/utils.scss';

.Overlay {
  position: absolute;
  z-index: 1000;
  @include overlay()
}

.MatchModal {
  position: relative;
  z-index: 10000;
  height: 50%;
  width: 90%;
  h2 {
    text-align: center;
    color: $brand-color-alt;
  }
  &--clothes {
    margin-top: .5em;
    position: relative;
    height: 40%;
    @include flex(center, center);
    &__like {
      position: absolute;
      left: 43%;
      z-index: 100;
    }
    .UserClothes {
      box-shadow: none;
    }
  }
  &--buttons {
    margin-top: 1em;
    @include flex(center, space-around);
    &__agree {
      @include btn-primary(100%, 50px)
    }
    &__ignore {
      @include btn-secondary(100%, 50px);
    }
    .Btn--container {
      width: 45%;
    }
  }
}