@import '../../sass/utils.scss';

.Logout {
    display: block;
    margin: 0 12px;
    text-align: center;
    &--img {
        width: 246px;
        height: 199px;
        margin-top: 55px;
    }
}
.Logout--container {
    margin: 0 -12px;
    height: 100vh; 
    background-image: url("../../assets/images/login-image-mobile.png");
    background-color: #cccccc; 
    background-size: cover; 
}

.Logout--button__login {
    margin: 0 5px;
    position: absolute;
    bottom: 33px;
    right: 50%;
    text-align: center;
    @include btn-secondary(165px, 50px);
}
.Logout--button__register {
    left: 50%;
    position: absolute;
    bottom: 33px;
    @include btn-primary(165px, 50px);
}

@media only screen and (min-width: 768px){
    .Logout--container {
        margin: 0 -12px;
        height: 100vh; 
        background-image: url("../../assets//images/login-image.png");
        background-color: #cccccc; 
        background-size: 100% 100%;
        }
    }