@import '../../sass/utils.scss';
@import '../../sass/breakpoints.scss';

.Logout {
    margin: 0 12px;
    text-align: center;
    &--img {
        width: 246px;
        height: 199px;
        margin-top: 55px;
    }
}
.Logout--container {
    margin: 0 -12px;
    height: 100vh; 
    background-image: url("../../assets/images/login-image-mobile.png");
    background-color: #cccccc; 
    background-size: cover; 
}

.Logout--button__container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: .7em;
    position: absolute;
    bottom: 1em;
    width: 100%;
    padding: 0 .5em;
}

.Logout--button__login {
    bottom: 33px;
    text-align: center;
    @include btn-secondary(99%, 50px);
}
.Logout--button__register {
    bottom: 33px;
    @include btn-primary(99%, 50px);
}

@include media( mobile-s ) {
    .Logout--button__login, .Logout--button__register {
        height: 40px;
    }
}

@include media ( tablet ){
    .Logout--container {
        margin: 0 -12px;
        height: 100vh; 
        background-image: url("../../assets//images/login-image.png");
        background-color: #cccccc; 
        background-size: 100% 100%;
        }
    }