@import '../../sass/utils.scss';

button {
    font-family: $paragraph-font;
    font-size: 1em;
    font-weight: 900;
    border-radius: 6px;
    cursor: pointer;
}

button:disabled {
    background: rgba(136, 94, 94, 0.2);
    color: white;
    border: none;
}