@import '../../sass/utils.scss';

.uploadClothes {
  padding: 1em;
  height: 90vh;
  &--clothes {
    margin: 0 auto;
  }
  &--buttons {
    position: sticky;
    bottom: 10px;
    button {
      @include btn-primary(100%, 50px);
    }
  }
}