@import '../../sass/utils.scss';
@import '../../sass/breakpoints.scss';

.MenuItems--container {
    margin: 0 12px;
    text-align: center;
    position: relative;
    @include flex(center, center);
}
.MenuItems--container__item {
    text-align: center;
    margin-top: 10px;
    padding: 10px;
    width: 100%;
    height: 53px;
    border-radius: 6px;
    background: $purple-color-first;
    color: $white-color-first;
    font-family: $title-font;
    font-size: 30px;
    font-weight: normal;
    text-decoration: none;
    a {
        width: 100%;
        @include flex(center, flex-start)
    }
}
.MenuItems--img {
    width: 30px;
    align-items: flex-start;
    margin-left: 40px;
}
.MenuItems--text {
    margin-left: 20px;
}

.logout {
    width: 100%;
    right: 0;
    top: 11px;
    height: 80%;
    position: absolute;
}

@include media( mobile-s ) {
    .MenuItems--container__item {
        font-size: 20px;
    }
}
