@import '../../sass/utils.scss';

.AdminPictures {
  padding: 1em;
  &--clothes {
    height: 40vh;
    &__grid {
      height: 100%;
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      gap: 1em;
      h4 {
        grid-column: span 4;
        @include paragraph(1.1em, $purple-color-third);
      }
      .SubmitPicture:first-of-type {
        grid-row: 2 / 4;
        grid-column: 1 / 3; 
      }
      .SubmitPicture--button {
        @include btn-primary(100px, 30px);
        margin-top: 1em;
        &:disabled {
          background: rgba(136, 94, 94, 0.2);
          color: white;
          border: none;
        }
      }
    }
  }
}


.SubmitPicture {
  background-color: $white-color-first;
  box-shadow: 1px 10px 10px 5px $white-color-second;
  width: 100%;
  height: 100%;
  border-radius: 10px;
  cursor: pointer;
  @include flex(center, center);
  label {
    cursor: pointer;
    width: 50%;
    @include flex(center, center);
  }
  &--image {
    width: 70%;
    @include flex(center, center);
    img {
      width: 80%;
    }
  }
  &--loader {
    height: 100px;
  }
  &--success {
    @include title(1.2em, $purple-color-second)
  }
  &--error {
    @include title(1.1em, $purple-color-first);
  }
}