@import '../../sass/utils.scss';

.AdminPictures {
  padding: 1em;
  &--clothes {
    height: 40vh;
    &__grid {
      height: 100%;
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      gap: 1em;
      h4 {
        grid-column: span 4;
        @include paragraph(1.1em, $purple-color-third);
      }
      .SubmitPicture:first-of-type {
        grid-row: 2 / 4;
        grid-column: 1 / 3; 
      }
      button {
        @include btn-primary(100px, 30px);
      }
    }
  }
  &--buttons {
    position: sticky;
    bottom: 10px;
    button {
      @include btn-primary(100%, 50px);
    }
  }
}


.SubmitPicture {
  background-color: $white-color-first;
  box-shadow: 1px 10px 10px 5px $white-color-second;
  width: 100%;
  height: 100%;
  border-radius: 10px;
  cursor: pointer;
  @include flex(center, center);
  label {
    cursor: pointer;
    width: 50%;
    @include flex(center, center);
  }
  &--image {
    width: 70%;
    @include flex(center, center);
    img {
      width: 80%;
    }
  }
}