@import '../../sass/utils.scss';
@import '../../sass/breakpoints.scss';

.NotificationItem {
    display: grid;
    grid-template-columns: 15% 65% 20%;
    margin: 1em;
    &--image {
        width: 70px;
        -o-object-fit: cover;
        object-fit: cover;
        height: 70px;
        border-radius: 50%;
    };
    &--Text span {
        padding: 10px;
        font-size: 18px;
        color: blue;
        display: flex;
        @include title(1.3em, $black-color-first);
        font-weight: 500;
    };
    &--buttons__secondary {
        font-weight: 500;
        margin-left: 20px;
        line-height: 48px;
        padding: .5em;
        @include btn-secondary(90%, 50px);
        @include title(1.3em, $black-color-first);
    };
}

@include media( mobile-s ) {
    .NotificationItem {
        margin: .5em;
        width: 95%;
        &--image {
            width: 40px;
            height: 40px;
        }
        &--Text span {
            font-size: 1em;
            padding: .5em;
        }
        &--buttons__secondary {
            font-size: 1em;
            height: 30px;
            line-height: 0;
            margin-left: 0;
        }
    }
}