@import '../../sass/utils.scss';
@import '../../sass/breakpoints.scss';

.Navbar {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  box-shadow: 1px 1px 10px -5px $black-color-third;
  align-items: center;
  &--menu {
    cursor: pointer;
    @include flex(center, center);
    a, button {
      @include flex(center, start);
    }
    &__img {
      width: 55%;
    };
  };
  &--logo {
    grid-column: 3 / 4;
    a {
      @include flex(center, center);
    }
    &__img {
      width: 80%;
    };
  };
};

@include media( mobile-s ) {
  .Navbar {
    height: 10vh;
    &--logo {
      &__img {
        width: 100%;
      }
    }
    &--menu__img {
      width: 100%;
    }
  }
}

@include media( mobile-m ) {
  .Navbar {
    height: 11vh;
    &--logo {
      &__img {
        width: 100%;
      }
    }
  }
}