@import '../../sass/utils.scss';

.Navbar {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  margin: .5em 0;
  &--menu {
    cursor: pointer;
    @include flex(center, start);
    &__img {
      width: 50%;
    };
  };
  &--logo {
    grid-column: 3 / 4;
    a {
      @include flex(center, center);
    }
    &__img {
      width: 80%;
    };
  };
};