@import '../../sass/utils.scss';

.Search {
  padding: 1em;
  &--title{
    text-transform: uppercase;
    margin: 2em 0 .5em 0;
    @include paragraph(1.2em, $purple-color-third);
  }
}

.SearchContainerResults {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
}