@import '../../sass/utils';

.UserClothes {
  overflow: hidden;
  border-radius: 1em;
  box-shadow: 1px 1px 9px -2px gray;
  position: relative;
  min-height: 100px;
  min-width: 130px;
  &:hover .UserClothes--description {
    opacity: 1;
    transition: .4s;
  }
  &--edit {
    position: absolute;
    min-width: 55px;
    width: 60px;
    bottom: 0;
    right: 0;
    img {
      width: 100%;
    }
  }
  &--img {
    cursor: pointer;
    min-height: 150px;
    @include flex(center, center);
    padding: .4em;
    img {
      width: 100%;
      object-fit: cover;
    }
  }
  h2 {
    @include title(1.1em, $white-color-second);
    position: absolute;
    bottom: 0;
    width: 100%;
    padding: .5em;
    background-color: transparentize($black-color-first, .5);
  }
  &--description {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 1em;
    @include title(1.1em, $purple-color-first);
    backdrop-filter: blur(2px);
    background-color: transparentize($white-color-first, .5);
    opacity: 0;
  }
}