@import '../../sass/utils.scss';

.UserProfile {
  max-width: 600px;
  margin: 0 auto;
  padding: 1em;
  overflow: hidden;
  h2 {
    font-weight: 200;
    @include title(3em, $purple-color-third);
  };
  &--info {
    margin: 1em auto;
    @include flex(center, center, column);
    &__img {
      width: 100px;
      height: 100px;
      border-radius: 50%;
    };
    &__name{
      margin: 1em;
      text-transform: uppercase;
      @include paragraph(1em, $purple-color-third);
    };
  };
};

.UserProfile--clothes {
  h3 {
    @include title(1.3em, $purple-color-third);
  }
  &__container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: .9em;
    padding: 1em; 
  };
}